# "main" component product by the compilation
*.a
cpp.*

# Avoid inclusion of .svn folder
.svn/

# emacs redundant files
*~

# object files
*.o

# module files
*.mod

# removing "conflict generators"
compiler.inc
libfexit/test_f_exit
libfexit/test_f_exit_message

# executable
var_3d
