# "main" component product by the compilation
*.a
cpp.*

# Avoid inclusion of .svn folder
.svn/

# emacs redundant files
*~

# object files
*.o

# module files
*.mod

# compiler.inc
compiler.inc

# executable
var_3d
